/* .champions-page {
  width: 100vw;
  height: auto;
  border: 1px solid;
  margin-bottom: 5%;
  background-color: rgb(106, 106, 139);
}
.cp-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 20px;
  align-items: flex-start;
  padding-top: 60px;
  margin-left: 20px;
  margin-right: 20px;
  height: calc(100vw - 50px);
}
.cp-left-container {
  border: 1px solid gray;
  height: 60vh;
  width: 100%;
}
.cp-search-container {
  width: 100%;
  margin-bottom: 20px;
}
.cp-search-container input {
  all: unset;
  padding-left: 10px;
  width: stretch;
  height: 40px;
  background-color: #363636;
  border-radius: 5px;
  color: rgb(236, 238, 238);
}
.cp-search-container input::placeholder {
  padding-left: 10px;
  color: rgb(236, 238, 238);
}
.cp-champions-gallery {
  display: flex;
  padding-left: 5px;
  flex-wrap: wrap;
  width: 100%;
  height: 370px;
  overflow-x: hidden;
  overflow-y: auto;
  justify-content: space-evenly;
}
.cp-champion-img {
  max-width: 50%;
  padding: 5px;
}
.cp-champion-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.cp-champions-gallery::-webkit-scrollbar {
  width: 5px;
}
.cp-champions-gallery::-webkit-scrollbar-thumb {
  height: 20px;
}

/* ---- RIGHT CONTAINER ---- */

/*
.cp-champion-img {
  width: 40px;
  height: 40px;
  border: 1px solid grey;
}
.cp-right-container {
  border: 1px solid gray;
  height: 60vh;
  max-height: 60vw;
  width: 100%;
  align-items: center;
}
.cp-title {
  margin-left: 20%;
  color: blue;
}
.cp-mainBox {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cp-champList {
  margin-left: 5%;
  font-size: 20px;
  align-items: center;
  color: #0d324d;
}
.cp-logo-image {
  margin: 20px;
  height: 100px;
  width: 100px;
}
.cp-logo-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.cp-secondBox,
.cp-thirdBox,
.cp-fourthBox {
  margin-left: 40px;
  margin-right: 10px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  height: 30%;
  width: 20%;
}

h5 {
  text-align: center;
  font-size: 15px;
  color: red;
}

.cp-imag {
  margin-top: 10px;
  width: 18%;
  background-color: gray;
} 

*/
