.champions-page {
  width: max-content;
  height: 100vh;
  border: 1px solid;
  margin-bottom: 5%;
  background: url('../../assets/champions-page-background.jpg');
  /* background-size: ; */
  background-repeat: repeat;
}
.cp-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 20px;
  align-items: flex-start;
  padding-top: 60px;
  margin-left: 20px;
  margin-right: 20px;
  /* height: calc(100vw - 50px); */
  height: 100vh;
}
.cp-left-container {
  display: flex;
  border: 1px solid gray;
  height: 60vh;
  max-width: 50vw;
}
.cp-search-container {
  width: 100%;
  margin-bottom: 20px;
}
.cp-search-container input {
  all: unset;
  padding-left: 10px;
  width: stretch;
  height: 40px;
  background-color: #363636;
  border-radius: 5px;
  color: rgb(236, 238, 238);
}
.cp-search-container input::placeholder {
  padding-left: 10px;
  color: rgb(236, 238, 238);
}
h2 {
  color: #f6f4ee;
}
.cp-champions-gallery {
  box-sizing: content-box;
  padding: 40px 60px 5px 10px;
  margin: 10px;
  display: inline-flex;
  flex-wrap: wrap;

  width: 100%;
  height: 1000px;
  overflow-x: hidden;
  overflow-y: auto;
  justify-content: space-evenly;
}

.cp-card-group {
  font-size: 40px;
  min-height: 100px;
  width: 100%;
  background: LightGray;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 2fr));
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
}
.cp-champion-img {
  width: 100px;
  height: 100px;
  border: 5px;
}
.cp-champion-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.cp-champions-gallery::-webkit-scrollbar {
  width: 5px;
}
.cp-champions-gallery::-webkit-scrollbar-thumb {
  height: 20px;
}
